body
{
  boarder: 3pt solid black;
  background-color: LightSkyBlue;
  font-family: "Verdana"; 
}

h1
{
  font-weight: bold;
  text-transform: uppercase;
}

h2
{
 --section-color: black; 
  font-style: italic;
  vertical-align: super;
}

head
{
  font-style: italic;
  text-decoration: line-through;
}

ul
{
  text-decoration: line-through;
}

table
{
  vertical-align: super;
  font-weight: bold;
}
