: root
{
  main-color: purple;
  main-bg-color: black;
}
h1
{
  color: rgb(250, 200, 250);
  background-color: black;
}
h2
{
  <p style="text-shadow: 5px 5px">Special Interests</p><p 
}
div.specialinterests
{
  <p style="text-shadow: 5px 5px">Special Interests</p><p 
}

ul
{
boarder-radius: 90%;
}
  
  body
  {
    boarder-radius: 90%;
 color: black;
  background-color: purple;
  float: right;
}

img
{
  boarder-radius: 90%;
}
span
{
  boarder-radius: 90%;
}
section
{
  float: left;
  color: light pink;
  background-color: light pink;
  
}
span name
{
  boarder-radius: 90%;
}
