: root
{
  main-color: purple;
  main-bg-color: black;
}
h1
{
  color: var(pink);
  background-color: rgb(250, 200, 250);
}
section
{
  float: right;
  color: var(--favcolor);
  background-color: blue;
  
}
