: root
{
  main-color: purple;
  main-bg-color: black;
}
h1
{
  color: rgb(250, 200, 250);
  background-color: black;

}
h2
{
 color: black;
  background-color: purple
  float: right;
}
img
{
  boarder-radius: 90%;
}

section
{
  float: right;
  color: var(--favcolor);
  background-color: blue;
  
}
